DirectoryIndex index.php
RewriteEngine On
RewriteRule ^/?$ index.php
RewriteRule ^preguntas/agregar$ index.php?controller=preguntas&act=agregar [L]
RewriteRule ^preguntas/lista$ index.php?controller=preguntas&act=lista [L]
RewriteRule ^preguntas/buscar$ index.php?controller=preguntas&act=buscar [L]
RewriteRule ^usuarios/agregar$ index.php?controller=usuarios&act=agregar [L]
RewriteRule ^usuarios/lista$ index.php?controller=usuarios&act=lista [L]
RewriteRule ^usuarios/agregar$ index.php?controller=usuarios&act=agregar [L]
RewriteRule ^usuarios/lista$ index.php?controller=usuarios&act=lista [L]
RewriteRule ^usuarios/eliminar$ index.php?controller=usuarios&act=eliminar&id=$1 [QSA,L]
RewriteRule ^usuarios/editar$ index.php?controller=usuarios&act=editar&id=$1 [QSA,L]
RewriteRule ^camioneros/nuevo$ index.php?controller=camioneros&act=nuevo [L]
RewriteRule ^camiones/nuevo$ index.php?controller=camiones&act=nuevo [L]
RewriteRule ^provincias/nuevo$ index.php?controller=provincias&act=nuevo [L]
RewriteCond %{REQUEST_URI} !^/index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*[^/])$ index.php?controller=$1 [L]
